<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <h1>ToDo</h1>
    <div id="app">
        <input type="text" v-model="text">
        <button v-on:click="addTexts">追加</button>
        <ul>
            <li v-for="todo in todos">{{ todos }}</li>
        </ul>
    </div> -->
    <div id="app">
        <div class="form">
            <!-- <div>{{ inputText }}</div> -->
            <input v-model="inputText" type="text">
            <button @click="onAdd">追加</button>
        </div>
        <ul class="lists">
            <li v-for="(list, index) in lists">
                <span>{{ index }} - {{ list.name }}</span>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./main.js"></script>
</body>

</html>